{% extends "base.html" %}

{% block title %}{{ user }}{% endblock title %}

{% block content %}
  <div class="container my-4">
    <div class="media">
      <img class="mr-3" src="{{ user.profile_pic.url }}" style="height: 96px;width: 96px;">
      <div class="media-body">
        <h2>{{ user }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
        <p class="text-secondary">{{ user.about_me }}</p>
      </div>
    </div>
    {% if request.user != user %}
      {% if is_friend %}
        <form method="POST" action="{% url 'remove_friend' user.pk %}" class="d-inline">
          {% csrf_token %}
          <button class="btn btn-danger">remove friend</button>
        </form>
      {% else %}
        <a class="btn btn-primary" href="{% url 'friendship_add_friend' user.username %}">add as friend</a>
      {% endif %}
      {% if is_blocked %}
        <a class="btn btn-secondary" href="{% url 'block_remove' user.username %}">unblock</a>
      {% else %}
        <a class="btn btn-danger" href="{% url 'block_add' user.username %}">block</a>
      {% endif %}
    {% endif %}
  </div>
{% endblock content %}
