{% load static %}
{% load chat_tags %}
<!DOCTYPE html><html class=''>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

<script src="https://use.typekit.net/hoy3lrg.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>

<link rel="stylesheet" href="{% static 'chat/css/styles.css' %}">
<script type="text/javascript" src="{% static 'chat/js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'chat/js/chat.js' %}"></script>

<title>Chat - Chat App</title>
</head>
<body>
<div id="frame">
  <div id="sidepanel">
    <div id="profile">
      <div class="wrap">
        <img id="profile-img" src="{{ user.profile_pic.url }}" class="online" alt="" />
        <p>{{ user }}</p>
      </div>
    </div>
    <div id="search">
      <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
      <input type="text" placeholder="Search contacts..." />
    </div>
    <div id="contacts">
      <ul>
        {% for chat in chats %}
          <li id="chat_{{ chat.pk }}" class="contact" data-pk={{ chat.pk }}>
            <div class="wrap">
              <span class="contact-status busy text-center" {% if not chat|get_unread_messages_count:user %}style="display: none;"{% endif %}>
                {{ chat|get_unread_messages_count:user }}
              </span>
              <img src="{{ chat|get_image_url:user }}" alt="" />
              <div class="meta">
                <p class="name">{{ chat|get_name:user }}</p>
                <p class="preview">{{ chat|get_last_message_preview:user }}</p>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div id="bottom-bar">
      <a id="addcontact" class="btn rounded-0"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></a>
      <a class="btn rounded-0"><i class="fa fa-users fa-fw" aria-hidden="true"></i> <span>Create group</span></a>
      <a class="btn rounded-0" href="{% url 'users:profile' %}"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Profile</span></a>
      <a class="btn rounded-0 text-danger" href="{% url 'account_logout' %}"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> <span>Logout</span></a>
    </div>
  </div>
  <div class="content" style="display: none;">
    <div class="contact-profile">
      <img src="" alt="" />
      <p></p>
      <div class="social-media">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
         <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
    </div>
    <div class="messages">
      <ul id="chat-log"></ul>
    </div>
    <div class="message-input">
      <div class="wrap">
      <input id="chat-message-input" type="text" placeholder="Write your message..." />
      <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
      <button id="chat-message-submit" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
{{ user.username|json_script:'username' }}
</body>
</html>