{% load friendshiptags %}
<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top mb-4">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand font-weight-bold" href="#">Chat App</a>

        <!-- Toggler Button -->
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-links">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbar-links">
            <ul class="navbar-nav  ml-auto">
              {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chat:chat' %}">Chat</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Friends <span class="badge badge-danger">{% friend_request_count user %}</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'users:user_list' %}">Find users</a>
                      <a class="dropdown-item" href="{% url 'friend_list' %}">Friends</a>
                      <a class="dropdown-item" href="{% url 'friendship_request_list' %}">
                        Friend requests <span class="badge badge-danger">{% friend_request_count user %}</span>
                      </a>
                      <a class="dropdown-item" href="{% url 'friendship_requests_rejected' %}">Rejected friend requests</a>
                    </div>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
              {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">Sign up</a>
                </li>
              {% endif %}
            </ul>
        </div>
    </div>
</nav>